* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* border: 1px solid red; */
}

:root {
  /* Primary colors */
  --light-red: hsl(0, 100%, 67%);
  --orange-yellow: hsl(39, 100%, 56%);
  --green-teal: hsl(166, 100%, 37%);
  --cobalt-blue: hsl(234, 85%, 45%);

  /* Summary row backgrounds */
  --reaction-bg: hsla(0, 100%, 67%, 0.08);
  --memory-bg: hsla(39, 100%, 56%, 0.08);
  --verbal-bg: hsla(166, 100%, 37%, 0.08);
  --visual-bg: hsla(234, 85%, 45%, 0.08);

  /* Gradients */
  --light-sl-blue-bg: hsl(252, 100%, 67%);
  --light-royal-blue-bg: hsl(241, 81%, 54%);
  --violet-blue-circle: hsla(256, 72%, 46%, 1);
  /* --persian-blue-circle: hsla(241, 72%, 46%, 0); */
  --persian-blue-circle: hsla(241, 72%, 46%, 1);

  /* Neutral */
  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --dark-grey-blue: hsl(224, 30%, 27%);

  /* Typography */
  --font-hanken: "Hanken Grotesk", sans-serif;
  --tp-extra-bold: 800;
  --tp-bold: 700;
  --tp-medium: 500;
  --tp-line-height: 1.3;

  --tp-1-size: 4.5rem;
  --tp-2-size: 3.5rem;
  --tp-3-size: 2rem;
  --tp-4-size: 1.5rem;
  --tp-5-size: 1.125rem;
  --tp-6-size: 1rem;
}

/* Typography presets */
.text-preset-1 {
  font-family: var(--font-hanken);
  font-size: var(--tp-1-size);
  font-weight: var(--tp-extra-bold);
}

.text-preset-2 {
  font-family: var(--font-hanken);
  font-size: var(--tp-2-size);
}

.text-preset-3 {
  font-family: var(--font-hanken);
  font-size: var(--tp-3-size);
  line-height: var(--tp-line-height);
  font-weight: var(--tp-bold);
}

.text-preset-4 {
  font-family: var(--font-hanken);
  font-size: var(--tp-4-size);
  line-height: var(--tp-line-height);
  font-weight: var(--tp-bold);
}

.text-preset-5-bold {
  font-family: var(--font-hanken);
  font-size: var(--tp-5-size);
  line-height: var(--tp-line-height);
  font-weight: var(--tp-bold);
}

.text-preset-5-medium {
  font-family: var(--font-hanken);
  font-size: var(--tp-5-size);
  line-height: var(--tp-line-height);
  font-weight: var(--tp-medium);
}

.text-preset-6-bold {
  font-family: var(--font-hanken);
  font-size: var(--tp-6-size);
  line-height: var(--tp-line-height);
  font-weight: var(--tp-bold);
}

.text-preset-6-medium {
  font-family: var(--font-hanken);
  font-size: var(--tp-6-size);
  line-height: var(--tp-line-height);
  font-weight: var(--tp-medium);
}

body {
  background-color: hsl(221, 100%, 96%);
  min-height: 100vh;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.circle {
  /* background-color: var(--light-sl-blue-bg); */
  border-radius: 50%;
  width: 8.75rem;
  height: 8.75rem;
  /* background: radial-gradient(
    var(--violet-blue-circle),
    var(--persian-blue-circle)
  ); */
  background: linear-gradient(
    to bottom,
    var(--violet-blue-circle),
    var(--persian-blue-circle)
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

article {
  background-color: var(--white);
  max-width: 400px;
  display: grid;
  grid-template-rows: auto auto;
  gap: 1.5rem;
  border-radius: 2rem;
  box-shadow: 0 30px 50px -15px rgba(0, 0, 0, 0.25);
  padding-bottom: 2rem;
}

h1,
.circle .max-score,
.result-comparison p {
  color: hsl(241, 100%, 89%);
}

/* .result-comparison p {
  color: hsl(241, 100%, 89%);
} */

img {
  display: block;
}

.result-section {
  /* background-color: var(--light-royal-blue-bg); */
  background: linear-gradient(
    to bottom,
    var(--light-sl-blue-bg),
    var(--light-royal-blue-bg)
  );
  color: var(--white);
  padding: 2rem 3rem;
  /* border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem; */
  border-radius: 2rem;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}

.result-comparison {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

.summary-section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 0 2rem;
}

.summary-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
}

li {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  border-radius: 0.75rem;
}

.summary-left {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.summary-1 {
  background-color: var(--reaction-bg);
}

.summary-1 .summary-left {
  color: var(--light-red);
}

.summary-2 {
  background-color: var(--memory-bg);
}
.summary-2 .summary-left {
  color: var(--orange-yellow);
}

.summary-3 {
  background-color: var(--verbal-bg);
}

.summary-3 .summary-left {
  color: var(--green-teal);
}

.summary-4 {
  background-color: var(--visual-bg);
}

.summary-4 .summary-left {
  color: var(--cobalt-blue);
}

.total-score {
  opacity: 0.5;
}

button {
  background-color: var(--dark-grey-blue);
  color: var(--white);
  border-radius: 8rem;
  padding: 0.875rem 0;
  border: none;
}
